.fundoPagina{
    background-color:pink;
}
.Titulo{
    background-color: lightslategray;
    color: aqua;
    margin: 0;
    display:flex;
    justify-content: center;
}
.Paragrafo{
    text-justify: distribute-all-lines;
    font-size: x-large;
}
.Espacamento{
    display: flex;
}
.Espacamento1{
    padding-top: 20px;
    padding-bottom: 20px;;  
}
.Espacamento2{
    padding-bottom: 20px;
}
.Espacamento3{
    padding-bottom: 20px;
}
.Imagem1{
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
}
.Imagem2{
    height: 15%;
    width: 100%;
}
.Imagem3{
    height: 15%;
    width: 100%;
}
.Imagem4{
    height: 10%;
    width: 100%;
}
.Text1{
    color:darkmagenta;
}
.Text2{
    color:darkmagenta;
}
.Text3{
    color:darkmagenta;
}
.Estilo{
    border-color:crimson;
}
.link:hover{
    color: brown;
}

